body {
    font-family: monospace;
  }
  
  .conta {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
  
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 40px 90px;
    max-width: 800px;
    width: 60%;
    margin: 100px auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
  }
  
  
  .border {
    position: absolute;
    transition: all 0.13s ease-in;
  }
  
